$background-primary: rgb(0, 0, 31);
$background-primary-rgb: 0, 0, 31;


$shadow-top-background-primary-rgba:rgba(0, 0, 31, .1);
$shadow-bottom-background-primary-rgba:rgba(0, 0, 31, 1);



$bordes-line: 1px solid rgba(255, 255, 255, .5);
$height-menu: 80px;
$shadow-capture: inset 0em 0em 1.5em black, 0.0 0 black;
$text-shadow-title: 6px 7px 22px black;


